.inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputDiv input {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    border: 2px solid grey;
    font-size: 20px;
}

.inputDiv button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid grey;
    margin-left: 10px;
    cursor: pointer;
}

.inputDiv input::placeholder {
    font-size: 20px;
    padding-left: 5px;
}